{% extends "layout/template_user.html" %}

{% block nav_3 %}
{% if person %} <li class="active"><a href="/user/logout/">Logout</a> </li>
{% else %} <li class="active"><a href="/user/login/">Login</a> </li> {% endif %}
{% endblock %}

{% block left_menu %}
    <li><a href="{% url action="register" %}" title="Register">Register</a></li>
{% endblock %}

{% block center %}

{% if person %}
{% else %}
    {% if error %}
        <font color="red">{{ error }}</font>
    {% endif %}
    <form method="post">
        Name:<br />
        <input name="name" /><br /><br />

        Password:<br />
        <input name="password" type="password" /><br /><br />

        <input type="submit" value="Log in" />
        <input type="hidden" name="redirect" value="{{ redirect|default_if_none:"/" }}" />

    </form>
{% endif %}
{% endblock %}
